<div class="text-center">
  <h1 class="mt-4">Bienvenido al Hotel</h1>
  <p class="lead">Reserv치 habitaciones c칩modas y seguras desde nuestra plataforma.</p>

  {{#if user}}
    <p class="text-success">Est치s logueado como <strong>{{user.first_name}} ({{user.role}})</strong></p>
    <a href="/profile" class="btn btn-primary">Ir a mi perfil</a>
  {{else}}
    <a href="/register" class="btn btn-outline-primary me-2">Registrarse</a>
    <a href="/login" class="btn btn-primary">Iniciar sesi칩n</a>
  {{/if}}
</div>
